* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #212121;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}

a {
    color: #000;
    text-decoration: none;
    display: inline-block;
}
button:hover {
    cursor: pointer;
}

/* Menu*/

.header__content {
    display: flex;
}

.header__logo {
    color: #212121;
    font-size: 25px;
    font-weight: 700;
    line-height: 22px;
    margin: 50px 344px 49px 0;
}

.menu__list {
    display: flex;
    margin: 53px 0 50px 0;
}

.menu__list li {
    list-style-type: none;
    margin-right: 40px;
    font-size: 20px;
}

.search__btn {
    margin: 53px 0;
}

/* Top */

.top {
    color: #fff;
    background-color: #000;
    background-image: url(../images/ololo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.top__content {
    max-width: 870px;
    margin: 0 auto;
    padding: 0 15px;
}
.top__title {
    text-align: center;
    font-size: 60px;
    line-height: 22px;
    letter-spacing: 3px;
    padding-top: 193px;
    margin-bottom: 45px;
}
.top__text {
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-align: center;
    margin-bottom: 134px;
}
.top__buttons {
    padding-left: 179px;
    margin-bottom: 90px;
}
.top__buttons button{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: transparent;
    padding: 22px 35px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}
.top__buttons button:first-child {
    margin-right: 20px;
}
.top__buttons button:hover {
    background-color: #00897b;
}

.down__btn {
    padding-bottom: 55px;
    padding-left: 416px;
}
.down__btn .fas{
    color: #fff;
}

/* About us */
.title {
    font-size: 30px;
    line-height: 22px;
    letter-spacing: 1.5px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 36px;
    padding-top: 125px;
}

.text {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.75px;
    text-align: center;
    max-width: 622px;
    margin: 0 auto;
    padding-bottom: 125px;
}
.about__options {
    display: flex;
    justify-content: space-between;
}

.option1,
.option2,
.option3 {
    width: 33.3%;
}

.option2 {
    margin: 0 40px;
}

.option__icon {
    text-align: center;
    padding-bottom: 40px;
}
.option__titile {
    text-align: center;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 1px;
    padding-bottom: 20px;
}
.option__text {
    text-align: center;
    max-width: 268px;
}

/* Services */

.services {
    background-color: #e4fdf9;
}

.servises__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 96px;
}
.service__box {
    background-color: #fff;
    width: 370px;
    margin-bottom: 20px;
}
.service__icon {
    padding-top: 58px;
    margin-bottom: 38px;
}

.icon {
    background-image: url(../images/service-icon.png);
    display: block;
    width: 56px;
    height: 62px;
    
}

.service__titile {
    text-align: center;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 1px;
}
.service__text {
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.75px;
    margin: 26px 39px 45px;
    flex-wrap: wrap;
}
.service__btn button{
    background-color: transparent;
    border: 2px solid #000000;
    padding: 20px 15px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.service__btn {
    text-align: center;
    padding-bottom: 50px;
}

.service__box:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
    background-color: #00897b;
    color: #fff;
}

.service__box:hover .service__btn button{
    color: #fff;
    border: 2px solid #fff;
}

.service__icon .icon {
    margin: 0 auto;
}

.service__box:hover .service__icon .icon {
    background-image: url(../images/service-wicon.png);
}

/* WORKS */

.works {
}

.works__buttons {
    text-align: center;
    margin-bottom: 119px;
}

.works__buttons button{
    border: 2px solid #00897b;
    padding: 20px 30px;
    margin-right: 15px;
}
.buttons button{
    background-color: transparent;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.works__buttons button:hover {
    background-color: #00897b;
    color: #fff;
}

.works__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.works__box {
    margin-bottom: 20px;
}

.works__btn {
    text-align: center;
    margin-top: 109px;
    padding-bottom: 136px;
}

.works__btn button {
    background-color: #00897b;
    color: #fff;
    padding: 28px 63px;
    font-family: 'Roboto';
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Pricing Plan */

.pricing {
    background-color: rgba(0, 0, 0, 0.05);
    font-size: 17px;
    font-weight: 300;
}

.pricing__content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 125px;
}

.pricing__item {
    background-color: #fff;
}
.pricing__item:hover {
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.35);
    cursor: pointer;
}
.pricing__item_title {
    text-align: center;
    color: #fff;
    font-size: 25px;
    line-height: 22px;
    letter-spacing: 1.25px;
    font-weight: 400;
    padding: 48px 90px;
    background-image: url(../images/pricing-bg.png);
    height: 209px;
    width: 370px;
     /* width: 370px;
    height: 209px;
    background-color: #3949ab; */
}
.pricing__item-price {
    text-align: center;
    display: flex;
    align-items: baseline;
    padding-top: 39px;  
    font-weight: 300;
    font-size: 17px;
}
.price {
    font-size: 50px;
    font-weight: 400;
    margin: 0 5px;
}
.dollar {
    align-self: start;
    font-size: 25px;
    font-weight: 400;
    vertical-align: top;
}
.pricing-options {
    list-style-type: none;
    text-align: center;
    margin-top: 12px;
}

.pricing-options li {
    padding: 37px 37px 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin: 0 84px;
    letter-spacing: 0.85px;
    font-size: 17px;
}
.pricing__btn button{
    padding: 23px 25px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #000000;
}
.pricing__btn {
    text-align: center;
    margin-top: 65px;
    padding-bottom: 63px;
}
.pricing__btn button:hover {
    background-color: #00897b;
    color: #fff;
}

/* TEAM */

.team__content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 265px;
}

.team-member_title {
    font-size: 20px;
    text-align: center;
    margin-top: 38px;
}
.team-member_text {
    font-size: 15px;
    text-align: center;
    margin-top: 12px;
}
.team-member_icons .fab,
.team-member_icons .fas{
    color: #00897b;
    background-color: #f0f1f1;
    border-radius: 10px;
}
.team-member_icons .fab:hover,
.team-member_icons .fas:hover{
    color: #ffffff;
    background-color: #3949ab;
    cursor: pointer;
}
.team-member_icons {
    text-align: center;
    margin-top: 30px;
}
.team-member_icons i {
    margin: 0 11px;
}
.team-member_icons .fa-facebook-f {
    padding: 12px 15px 13px;
}
.team-member_icons .fa-twitter {
    padding: 12px 12px 16px;
}
.team-member_icons .fa-comments {
    padding: 13px 9px 12px 11px;
}
.team-member_icons .fa-basketball-ball {
    padding: 12px 10px;
}

/* BLOG */

.blog {
    background-color: #e4fdf9;
}


.blog__box {
    display: flex;
    
}

.blog__box-theme {
    padding-top: 60px;
    margin-left: 30px;
}
.blog__box_title {
    color: #00897b;
    font-size: 25px;
}
.blog__box-info {
    display: flex;
    margin-top: 28px;
    font-size: 17px;
}

.blog__box-info i {
    margin-right: 13px;
}
.date {
    margin-right: 40px;
    
}

.blog__box_text {
    font-size: 15px;
    max-width: 445px;
    line-height: 22px;
    letter-spacing: 0.75px;
    margin-top: 28px;
}

.left {
    display: flex;
    justify-content: space-between;
}

.left .blog__box-theme {
    margin-left: 0;
    margin-right: 155px;
}

.blog__btn {
    text-align: center;
    padding: 125px 0;
}

.blog__btn button{
    padding: 28px 52px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Roboto;
    color: #fff;
    background-color: #00897b;
    letter-spacing: 1px;
}